<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/japi"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="4"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.ui.favoriteGroups">
<listEntry value="org.eclipse.debug.ui.launchGroup.debug"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="testnestq.Main"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="japi"/>
<stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-Dnest_property.file.path=&quot;C:\JAPI\japi\japi\NESTResources.properties&quot; -Dreq_property.file.path=&quot;C:\JAPI\japi\japi\RequestName.properties&quot;"/>
</launchConfiguration>
